path_db=/var/lilmon/db/lilmon.sqlite

[measure]
retention_time=2160h   ; how old measurements are saved (~3 months)
prune_db_period=30m    ; how often to purge old data from db
measure_period=15s     ; how often metrics are measured
shell=/bin/sh

[serve]
listen_addr=localhost:15515
path_template=/etc/lilmon/lilmon.template
default_period=1h
graph_width=300
graph_height=100
bin_width=1m           ; some small multiple of 'measure_period' is good
max_bins=150           ; some fraction of 'graph_width' is good
autorefresh_period=60s
graph_format=svg       ; see `go doc gonum.org/v1/plot.Plot.WriterTo` for supported formats
graph_mimetype=image/svg+xml

[metrics]
metric=n_temp_files|Files in /tmp|y_min=0,kilo|find /tmp/ -type f|wc -l
metric=n_processes|Visible processes (all users)|y_min=0,y_max=1000|ps -A|wc -l
metric=rate_logged_in_users|Rate of user logins|deriv|who|wc -l
metric="n_subshell_constant|Plain silly||{ echo -n \"one\"; echo -n two; echo -n three; }|wc -c"

