<html>
  <head>
    <meta http-equiv="refresh" content="{{ .RefreshPeriod.Seconds }}">
    <title>{{ .Title }}</title>
  </head>
  <body>
    <div>
      <code>
        [{{ .TimeStart.Format .TimeFormat }}, {{ .TimeEnd.Format .TimeFormat  }} ]
        <a href="/?time_start=5m">5 minutes</a>
        <a href="/?time_start=30m">30 minutes</a>
        <a href="/?time_start=1h">hour</a>
        <a href="/?time_start=3h">3 hours</a>
        <a href="/?time_start=6h">6 hours</a>
        <a href="/?time_start=12h">12 hours</a>
        <a href="/?time_start=24h">day</a>
        <a href="/?time_start=72h">3 days</a>
        <a href="/?time_start=168h">week</a>
        <a href="/?time_start=720h">month</a>
      </code>
    </div>
    {{ range $n, $m := .Metrics }}
    <div style="float: left;">
      <pre>
        <b>{{ $n }}</b>, <u>{{ $m.Name }}</u>, <em>{{ $m.Description }}</em>
        <img src="/graph?metric={{ .Name }}&epoch_start={{ $.EpochStart }}&epoch_end={{ $.EpochEnd }}">
      </pre>
    </div>
    {{ end }}
    <div style="clear: both;">
      <hr>
      <pre>lilmon</pre>
      <pre>{{ .RenderTime.Format .TimeFormat }} (autorefresh @ {{ .RefreshPeriod }})</pre>
    </div>
  </body>
</html>
